<?xml version='1.0' encoding='utf-8'?>
<widget id="net.aptive.entropy" version="0.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Entropy</name>
    <description>
        Entropy Game Engine
    </description>
    <author email="ivobos@gmail.com" href="http://aptive.net">
        Ivo Bosticky
    </author>
    <icon src="res/icon192x192.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
</widget>
